<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.eoe.app"
    android:versionCode="110"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />
	<!-- App需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- zxing Google提供的二维码生成和解析的工具类 -->
    <!-- 很明显这里应该是使用摄像头扫面二维码登录功能需要的，我TM太机智了O(∩_∩)O哈哈~ -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<!-- 啊哈！所有的activity都在这里呢？有种要饱餐一顿的节奏，嘿嘿。原谅我是个吃货O(∩_∩)O哈哈~ -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- 这个我就不吐槽了，(ˉ▽￣～) 切~~ -->
        <!-- 面子工程没什么卵用！！！！！！！！ ps:你们的产品经理，在哪里，在哪里？-->
        <!-- 在启动App的时候，显示eoe的logo没有别的功能。唉，严重影响使用app的心情 -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 来吧，下面就从主界面开始干（看）吧！    
        （代码不是我写的，就是来看看eoe的代码学习下，顺便吐槽，有机会顺便做个免费劳工，要是您不介意赏几个大洋，我也不介意收下，嘿嘿，YY的有点儿过了，代码走起~）-->
        
        <!-- API level 11以上才有硬件加速一说，报黄线就报黄线吧！ -->
        <!-- 主界面 -->
        <activity
            android:name=".ui.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 详细信息页面 -->
        <activity
            android:name=".ui.DetailsActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 讨论详细信息页面 -->
        <activity
            android:name=".ui.DetailsDiscussActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- 搜索页面 -->
        <activity
            android:name=".ui.SearchActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <!-- 用户中心 -->
        <activity
            android:name=".ui.UserCenterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 关于页面 -->
        <activity
            android:name=".ui.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 登陆相关 -->
        <activity
            android:name=".ui.UserLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.UserLoginUidActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- zxing 二维码扫描解码 -->
        <activity android:name="com.google.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>
        
        <!-- 友盟——不解释！！ -->
        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <activity android:name="com.umeng.fb.ContactActivity"/>
        
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="510777d152701511ea000006" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Default" />
    </application>
</manifest>
